@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;  
}

.container {
    background-color: white;
    height: 100vh;
}

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    background-color: #7ed957;
    /* box-shadow: 5px 2px 10px #7ed957; */
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.selecionado {
    font-weight: bold;
    background-color: white;
    color: #7ed957;

}

.selecionado,
.navbar a:hover {
    background-color: white;
    color: #7ed957;
    font-weight: bold;
    border: 10px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
   
}

.logo {
    width: 150px;
    height: auto;
    margin-left: -56px;
}

.banner {
    height: 600px;
    background-color: white;
    /* background-image: url(../assets/imgs/Spain_Madrid.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

}

.banner img {
    /* margin-left: 300px; */
    margin-top: 180px;
    width: 800px;
}

.banner h3 {
    color: white;
    background-color: #7ed957;;
    margin-left: 600px;
    margin-top: -58px;
    width: 436px;
}

.sobre {
    border-top: solid white 10px;
    background-color: #7ed957;
    color: white;
    height: 100vh;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.sobre .title {
    
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 30px;
}

.sobre p {
    margin: 20px 200px;
    text-align: justify;
    text-indent: 50px; 
}

.sobre li {
    list-style: inherit;
    list-style-type:circle;
}

.idiomas {
    background-color: white;
    color: #7ed957;
    height: 500px;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.idiomas .title {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 30px;
}

.list-idiomas {
    display: flex;
    align-items: flex-start;
}

.language {
    padding: 10px 50px;
    border-right: 1px solid  #7ed957;
    border-left:  1px solid #7ed957;
}

.language p {
    text-align: justify;
    text-indent: 50px; 
}

.language img {
    width: 100px;
    height: auto;
    text-align: center;
}

.footer {
    background-color: #7ed957;
    width: 100%;
    height: 50px;
    display: flex;
    color: white;
    font-size: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.social-media {
    justify-content: space-evenly;
    align-items: center;
}

.social-media img{
height: 50px;
}