* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    
}

.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    background-color: #7ed957;
    border-bottom: solid 2px white;
}

.navbar a {
    text-decoration: none;
    background-color: white;
    color: #7ed957;
    border: 10px;
    border-radius: 10px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 30px;
}

.navbar a:hover {
    background-color: #7ed957;
    color: white;
    font-weight: bold;
    border: solid 2px white;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    width: 150px;
    height: auto;
    padding-left: 30px;
}

.titulo {
    width: 70px;
    display: flex;
    align-items: center;
    margin-left: 400px;
    margin-right: 400px;
    color: white;
}

.titulo img {
    width:60px;
}

.idiomas {
    background-color: #7ed957;
    color: white;
    height: 210vh;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding-top: 30px;
}

.list-idiomas {
    width: 100%;
    padding-top: 100px;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.language {
    width: 250px;
    padding: 10px 25px;
    margin: 20px 30px;
    background-color: white;
    border-radius: 15px;
    height: 220px;
}

.language img {
    width: 250px;
    height: 200px;
    border-radius: 15px;
}
.language h2 {
    background-color: white;
    border: 2px solid #7ed957;
    color: #7ed957;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;;
}

.language:hover {
    width: 300px;
    height: 250px;
    background-color: #7ed957;
    border: solid white 2px;
    transition: 0.5s;
}

.language h2:hover {
    background-color: #7ed957;
    border: 2px solid white;
    color: white;
}

.language img:hover {
    width: 300px;
    height: 250px;
    transition: 1s;
}

.busca {
    background-color: white;
    color: #7ed957;
    font-weight: bold;
    margin-left: 350px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    width: 700px;
    height: 50px;
    border-radius: 15px;
    align-items: center;
    display: flex;
}

.busca img {
    height: 50px;
    width: 50px;
    margin-left: -55px;
    cursor: pointer;
}

input {
    height: 45px;
    width: 480px;
    border: none;
    background-color: #d4ffc2;
    margin: 8px;
    padding-left: 10px;
    border-radius: 15px;
}

input:focus {
    color: #7ed957;
    box-shadow: 0 0 0 0;
    outline: 0;
}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

.sugestao {
    margin-top: 30px;
}

.sugestao button {
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    height: 50px;
    align-self: center;
    margin-top: 20px;
    background-color: white;
    border: 2px solid white;
    color: #7ed957;

}
.sugestao button:hover {
    background-color: transparent;
    color: white;
}

#btn_voltar {
    margin-left: auto;
    margin-right: auto;
}
#btn_comentarios {
    margin-left: auto;
    margin-right: auto;
}

 a {
    text-decoration: none;
}

.footer {
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    color: #7ed957;
    font-size: 10px;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 0px;
}

.social-media {
    justify-content: space-evenly;
    align-items: center;
}

.social-media img{
height: 50px;
}
datalist {
    display: none;
  }