* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    
}

.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    background-color: #7ed957;
    border-bottom: solid 2px white;
}

.navbar a {
    text-decoration: none;
    background-color: white;
    color: #7ed957;
    border: 10px;
    border-radius: 10px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 30px;
}

.selecionado {
    font-weight: bold;
    background-color: #7ed957;
    color: white;

}

.selecionado,
.navbar a:hover {
    background-color: white;
    color: #7ed957;
    font-weight: bold;
    border: 10px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
   
}

.logo {
    width: 150px;
    height: auto;
    padding-left: 30px;
}

.idiomas {
    background-color: #7ed957;
    color: white;
    height: 80vh;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding-top: 30px;
}

 .idiomas .chamada {
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color: #7ed957;
    width: 620PX;
    border-radius: 15px;
    padding: 50px 50px;
    margin-left: 360px;
    margin-top: 100px;
 }

.list-idiomas {
    width: 100%;
    padding-top: 100px;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.language {
    width: 150px;
    padding: 10px 25px;
    margin-right: 30px;
    margin-left: 30px;
    background-color: white;
    border-radius: 15px;
}

.language img {
    width: 100px;
    height: auto;
}
.language h2 {
    background-color: #7ed957;
    color: white;
    border: 10px;
    border-radius: 10px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid white;
}

 a {
    text-decoration: none;
}

.language h2:hover{
    background-color: white;
    border: 2px solid #7ed957;
    color: #7ed957;
}

.footer {
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    color: #7ed957;
    font-size: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.social-media {
    justify-content: space-evenly;
    align-items: center;
}

.social-media img{
height: 50px;
}
